<html>
<head>
    <title>Django Girls blog</title>
</head>
<body>
<div>
    <h1>SHARING KNOWLEDGE!</h1>
    </div>
    <div>
        <p>published: 11.11.2017, 17:00</p>
        <h2>DJANGO AND PYTHON BASED LEARNING</h2>
    </div>

    <p>Hi there! My name is <em>Lina</em> and Im here to learn and build my first <strong>blog</strong></p>
    <br/>
    <a href="https://www.facebook.com/lina.horiguchi">Facebook Profile</a>
<div>
    <p>endereço:</p>
    <br/>
    <ul>
        <li>Rua: martiniano</li>
        <li>Cidade: Sao Paulo</li>
    </ul>
    <p>It works!</p>
</div>
</body>
</html>